name: deploy

on:
  push:
    branches: [main] # mian 分支有 push 时触发

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

      # 下载源码
      # 这一步就是检出你的仓库并下载里面的代码到runner中,actions/checkout@v2是官方自己造的轮子，直接拿来用就行
      - name: Checkout
        uses: actions/checkout@latest


      # 部署到 GitHub pages
      - name: Deploy
        uses: peaceiris/actions-gh-pages@latest # 使用部署到 GitHub pages 的 action
        with:
          publish_dir: ./ # 部署打包后的 dist 目录
          github_token: ${{ secrets.GIT_PAGES_TOKEN }} # secret 名
          user_name: ${{ secrets.MY_USER_NAME }}
          user_email: ${{ secrets.MY_USER_EMAIL }}
          commit_message: deploy project